name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

env:
  DESTDIR: ./bin
  DOCKER_BUILD_SUMMARY: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      -
        name: Lint
        uses: docker/bake-action@v6
        with:
          targets: lint

  test:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.21"
          - "1.22"
          - "1.23"
    steps:
      -
        name: Test
        uses: docker/bake-action@v6
        with:
          targets: test
        env:
          GO_VERSION: ${{ matrix.go }}
      -
        name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          directory: ${{ env.DESTDIR }}/coverage
          token: ${{ secrets.CODECOV_TOKEN }}
